<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="NopCommerce UI Automation" verbose="1" >

    <test name="Run On Firefox browser" >
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.nopcommerce.users.Level_08_Page_Navigation" />
        </classes>
    </test>

</suite>