<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="NopCommerce UI Automation" verbose="1" >

    <test name="Run On EDGE and Chrome browser" >
        <parameter name="browser" value="Edge"></parameter>

        <classes>
            <class name="com.nopcommerce.users.Level_04_Multiple_Browser" />
        </classes>
    </test>

</suite>